/LibSources/General/History
/LibSources/ICGeneral/History
/LibSources/Kon_Tipk/History
/LibSources/Modules/History
/LibSources/NMOS/History
/LibSources/NPN/History
/LibSources/OpAmps/History
/LibSources/PMOS/History
/LibSources/PNP/History
/LibSources/Schottky/History
/LibSources/SiDiodes/History
/LibSources/*.stp
/LibSources/General/*.stp
/LibSources/ICGeneral/*.stp
/LibSources/Kon_Tipk/*.stp
/LibSources/Modules/*.stp
/LibSources/NMOS/*.stp
/LibSources/NPN/*.stp
/LibSources/OpAmps/*.stp
/LibSources/PMOS/*.stp
/LibSources/PNP/*.stp
/LibSources/Schottky/*.stp
/LibSources/SiDiodes/*.stp
/LibSources/*.step
/LibSources/General/*.step
/LibSources/ICGeneral/*.step
/LibSources/Kon_Tipk/*.step
/LibSources/Modules/*.step
/LibSources/NMOS/*.step
/LibSources/NPN/*.step
/LibSources/OpAmps/*.step
/LibSources/PMOS/*.step
/LibSources/PNP/*.step
/LibSources/Schottky/*.step
/LibSources/SiDiodes/*.step
/LibSources/*.zip
/LibSources/General/*.zip
/LibSources/ICGeneral/*.zip
/LibSources/Kon_Tipk/*.zip
/LibSources/Modules/*.zip
/LibSources/NMOS/*.zip
/LibSources/NPN/*.zip
/LibSources/OpAmps/*.zip
/LibSources/PMOS/*.zip
/LibSources/PNP/*.zip
/LibSources/Schottky/*.zip
/LibSources/SiDiodes/*.zip
/LibSources/*.log
/LibSources/General/*.log
/LibSources/ICGeneral/*.log
/LibSources/Kon_Tipk/*.log
/LibSources/Modules/*.log
/LibSources/NMOS/*.log
/LibSources/NPN/*.log
/LibSources/OpAmps/*.log
/LibSources/PMOS/*.log
/LibSources/PNP/*.log
/LibSources/Schottky/*.log
/LibSources/SiDiodes/*.log
/MISKO V2_1.IntLib
/DownloadedLibs
